<h1>Products</h1>

<table id="products">
  <tr>
    <th>Product Name</th>
    <th>Product Description</th>

  </tr>
  <% @variants.each do |variant| %>
      <tr>
        <td><%= variant.name %></td>
        <td><%= variant.description %></td>
      </tr>
  <% end %>
</table>

<h2>Import products</h2>

<%= form_tag import_variants_path, multipart: true do%>

    <%= file_field_tag :file %>
    <%= submit_tag 'Import'%>

<% end %>

